<footer style="background-color: black;color: white;margin-top: 1800px;" >
    {% load static %}
    <h1 style="margin-left:5%;">DOYO<span style="font-size:20px;margin-top: -30px;color: #01d28e;">&nbsp;&nbsp;&nbsp;
        
        SERVICES</span></h1>
      <hr>
         <div >
           <div >
             <a href="#" class="link" style="margin-left:15%;color:whitesmoke">About</a>
             <a href="#" class="link" style="margin-left:5%;color:whitesmoke">Services</a>
             <a href="#" class="link" style="margin-left:5%;color:whitesmoke">Terms and Conditions</a>
             <a href="#" class="link" style="margin-left:5%;color:whitesmoke">Best Price Guarantee</a>
             <a href="#" class="link" style="margin-left:5%;color:whitesmoke"> Privacy &amp; Cookies Policy</a>
           </div>
             <hr>
         </div>
         <div  >
            <div style="font-size:14px;color: whitesmoke">
              <a href="#" class="link" style="color:whitesmoke">Customer Support</a><br>
              <a href="#" class="link" style="color:whitesmoke">FAQ</a><br>
              <a href="#" class="link" style="color:whitesmoke">Contact Us</a><br>
              <a href="#" class="link" style="color:whitesmoke">Have a Questions?</a>
           </div>
         </div>
      
 

         <div>
 
           <p>
 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
 </p>
         </div>
     
   </footer>
 